<!--
  templateType: error_page
  isAvailableForNewContent: true
  label: Boilerplate - 404 error
  screenshotPath: ../../images/template-previews/404.png
-->
{% set template_css = "../../css/templates/system.css" %}
{% extends "../layouts/base.html" %}
{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle = "Error 404 | Page not found" %}

{% block body %}
{% module "module_17788439507901" path="/HRDuo-theme-2026/modules/error-banner-section", label="error-banner-section" %}
{% endblock body %}
