<div class="{{ name }} baseModuleStyle LImageRContentSection {{ module.custom_style.custom_class }} " id="{{ module.custom_style.section_id }}">
  <span class="baseModuleOverlay"></span>
  <div class="baseModuleParent"> 
    <div class="content-wrapper">
      {# Custum Width Option #}
      <div class="customWidthOption LImageRContentInSec d_flex align_center flex_center">
         {% if module.content_group.image.src %}
        <div class="LImageRContentLeftCol">
         
          <img src="{{ module.content_group.image.src }}" alt="{{ module.content_group.image.alt_text }}" class="LImageRContentImg"/>
         
        </div>
         {% endif %}
        <div class="LImageRContentRightCol">

        
        {% if  module.content_group.title  %}
        <div class="moduleTitle LImageRContentTitle">
          {{ module.content_group.title }}
        </div>
          {% endif %}
          {% if module.content_group.content %}
          <div class="moduleContent pt10 LImageRContentCnt secondary_60_color">
            {{ module.content_group.content }}
          </div>
          {% endif %}
          {# Button and Cta Option #}

          {% if module.content_group.want_cta %}
          <div class="moduleCTA d_flex align_center gap20 pt20 LImageRContentCTA">
            {% for item in module.content_group.cta_group %}
            {% set CTA = item %}
            <div class="cta-section">
              {% if CTA.cta_choice == "normalcta" %}
              {% if CTA.button_text %}
              <div class="{{ CTA.choice_cta_style }}  {% if CTA.button_alignment %} {{ CTA.button_alignment }} {% else %} text-left {% endif %} basebutton-{{ loop.index }}">
                {% set href = CTA.button_link.url.href %}
                {% if CTA.button_link.url.type is equalto "EMAIL_ADDRESS" %}
                {% set href = "mailto:" + href %}
                {% endif %}
                {% if CTA.button_link.url.type is equalto "PHONE_NUMBER" %}
                {% set href = "tel:" + href %}
                {% endif %}

                <a href="{{ href }}"
                   {% if CTA.button_link.open_in_new_tab %}target="_blank"{% endif %}
                   {% if CTA.button_link.rel %}rel="{{ CTA.button_link.rel }}"{% endif %}
                   >
                  {{ CTA.button_text }}
                  {% if CTA.want_arrow %}
                    <span class="arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <rect x="13.2887" y="14.5453" width="7" height="1" rx="0.25" transform="rotate(-45 13.2887 14.5453)" fill="white" stroke="white" stroke-width="0.5"/>
                    <rect x="13.9958" y="5.35291" width="7" height="1" rx="0.25" transform="rotate(45 13.9958 5.35291)" fill="white" stroke="white" stroke-width="0.5"/>
                    <rect x="0.5" y="9.80273" width="16.9958" height="1" rx="0.25" fill="white" stroke="white" stroke-width="0.5"/>
                  </svg>
                    </span>
                  {% endif %}

                </a>
              </div>
              {% endif %}
              {% elif  CTA.cta_choice == 'hubspotCTA' %}

              {% if CTA.hubspot_cta && CTA.hubspot_cta != null %}
              <div class="{{ CTA.choice_cta_style }} {% if CTA.button_alignment %} {{ CTA.button_alignment }} {% else %} text-left {% endif %}">
                {% cta guid="{{ CTA.hubspot_cta }}" %}
              </div>
              {% endif %}

              {% endif %}
            </div>
            {% endfor %}
          </div>
          {% endif %}

          {# End Button and Cta Option #}
          </div>
      </div>
          {# End Custum Width Option #}



    </div>
  </div>

</div>

    {% require_css %}
    <style>
     {% scope_css %}
      /****  Button Style  *****/
      {% for item in module.content_group.cta_group %}
            {% set CTA = item %}
      {% if CTA.override_button_style %}

      .baseModuleStyle .basebutton-{{ loop.index }} a{
        background:{{ CTA.button_style_group.btn_bg_color.css}};
        color:{{ CTA.button_style_group.btn_text_color.css }};
        border-color:{{ CTA.button_style_group.btn_border_color.css }};
      }

      .baseModuleStyle .basebutton-{{ loop.index }} a:hover {
        background-color:{{ CTA.button_style_group.btn_bg_color_hover.css}};
        color:{{ CTA.button_style_group.btn_text_color_hover.css }};
        border-color : {{ CTA.button_style_group.btn_border_color_hover.css }};
      }

      {% endif %}
      {% endfor %}
      /****  End Button Style  ****/
     {% end_scope_css %}
    </style>
    
   
    <style>

{#       {% scope_css %} #}
        
      {# Desktop Styling #}
      .{{name}}.baseModuleStyle{
        position:relative;
      
        {{ module.style.spacing.desktop_spacing.css }}
       
        {% if module.style.background_property.background_choice == 'bgImage'  %}
         background-image:url('{{ module.style.background_property.background_image.src|escape_url }}');  background-position: center center;  background-repeat: no-repeat; background-size : cover;
        {% elif module.style.background_property.background_choice == 'bgColor'  %}
        background-color:rgba({{ module.style.background_property.background_color.color|convert_rgb }},{{ module.style.background_property.background_color.opacity }}%);
        {% elif module.style.background_property.background_choice == 'gredient'  %}
        background:{{ module.style.background_property.background_gredient.css }};
        {% endif %}
      } 
      /****  Overlay Start  *****/
      {% if module.style.background_property.background_choice == 'bgImage'  %}
      .{{name}} .baseModuleOverlay{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color:rgba({{ module.style.background_property.overlay_color.color|convert_rgb }},{{ module.style.background_property.overlay_color.opacity }}%); }
      {% endif %}
      /****  Overlay Start  *****/
      .{{name}} .baseModuleParent{position:relative; z-index:5}



      {# End Desktop Styling #}

      {# Tablet Styling #}
      @media(max-width:1300px){
        .{{name}}.baseModuleStyle{
           {{  module.style.spacing.tab_spacing.css }}
        } 
      }
      {# End Tablet Styling #}
      {# Mobile Styling #}
      @media(max-width:767px){
        .{{name}}.baseModuleStyle{
          {{ module.style.spacing.mobile_spacing.css  }}
        } 
      }
      
{#       {% end_scope_css %} #}
    </style>
  {% end_require_css %}
