<div class="{{ name }} baseModuleStyle Counterv1Section {{ module.custom_style.custom_class }} " id="{{ module.custom_style.section_id }}">
  <span class="baseModuleOverlay"></span>
    <div class="Counterv1Shape"> 
<svg xmlns="http://www.w3.org/2000/svg" width="270" height="522" viewBox="0 0 270 522" fill="none">
<path d="M-130 493.401C-130 604.287 -41.5131 692.774 70.6261 692.774C182.765 692.774 270 604.287 270 493.401C270 382.514 181.513 292.774 70.6261 292.774C-40.2609 292.774 -130 381.261 -130 493.401ZM70.6261 229.053C181.513 229.053 270 140.566 270 29.6788C270 -81.2081 181.513 -170.947 70.6261 -170.947C-40.2609 -170.947 -130 -82.4603 -130 29.6788C-130 141.818 -41.5131 229.053 70.6261 229.053Z" fill="#312480"/>
</svg>
  </div>
  {% if module.content_group.bg_image.src %}
  <div class="Counterv1Image">
          <img src="{{ module.content_group.bg_image.src }}" alt="{{ module.content_group.bg_image.alt }}">
        </div>
        {% endif %}
  <div class="baseModuleParent"> 
    <div class="content-wrapper">
      {# Custum Width Option #}
      <div class="customWidthOption Counterv1InSection">
        <div class="Counterv1InBoxSec">
        {% if  module.content_group.title  %}
        <div class="moduleTitle Counterv1Title white_color">
          {{ module.content_group.title }}
        </div>
          {% endif %}
          {% if module.content_group.content %}
          <div class="moduleContent pt10 Counterv1Content white_75_color">
            {{ module.content_group.content }}
          </div>
          {% endif %}

          <div class="Counterv1BoxSection d_flex pt30 {% if module.content_group.want_four_columns %} Counterv1fourBoxSection {% endif %}">
            {% for item in module.content_group.counter_group %}
            <div class="Counterv1Box white_color">
              <div class="Counterv1Boxin">

              
              <div class="Counterv1BoxNumber">
                <h4 class="h1">
                  <span class="counternumber" data-max="{{ item.box_number }}"></span>
                  <span>{{ item.box_number_text }}</span>
                </h4>
              </div>
              <div class="Counterv1BoxText pt15">
                <p>{{ item.box_content }}</p>
              </div>
            </div>
            </div>
            {% endfor %}
          </div>

          {# Button and Cta Option #}

          {% if module.content_group.want_cta %}
          <div class="moduleCTA d_flex align_center Counterv1Btns gap20 pt30">
            {% for item in module.content_group.cta_group %}
            {% set CTA = item %}
            <div class="cta-section">
              {% if CTA.cta_choice == "normalcta" %}
              {% if CTA.button_text %}
              <div class="{{ CTA.choice_cta_style }}  {% if CTA.button_alignment %} {{ CTA.button_alignment }} {% else %} text-left {% endif %} basebutton-{{ loop.index }}">
                {% set href = CTA.button_link.url.href %}
                {% if CTA.button_link.url.type is equalto "EMAIL_ADDRESS" %}
                {% set href = "mailto:" + href %}
                {% endif %}
                {% if CTA.button_link.url.type is equalto "PHONE_NUMBER" %}
                {% set href = "tel:" + href %}
                {% endif %}

                <a href="{{ href }}"
                   {% if CTA.button_link.open_in_new_tab %}target="_blank"{% endif %}
                   {% if CTA.button_link.rel %}rel="{{ CTA.button_link.rel }}"{% endif %}
                   >
                  {{ CTA.button_text }}
                  {% if CTA.want_arrow %}
                    <span class="arrow">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <rect x="13.2887" y="14.5453" width="7" height="1" rx="0.25" transform="rotate(-45 13.2887 14.5453)" fill="white" stroke="white" stroke-width="0.5"/>
                    <rect x="13.9958" y="5.35291" width="7" height="1" rx="0.25" transform="rotate(45 13.9958 5.35291)" fill="white" stroke="white" stroke-width="0.5"/>
                    <rect x="0.5" y="9.80273" width="16.9958" height="1" rx="0.25" fill="white" stroke="white" stroke-width="0.5"/>
                  </svg>
                    </span>
                  {% endif %}

                </a>
              </div>
              {% endif %}
              {% elif  CTA.cta_choice == 'hubspotCTA' %}

              {% if CTA.hubspot_cta && CTA.hubspot_cta != null %}
              <div class="{{ CTA.choice_cta_style }} {% if CTA.button_alignment %} {{ CTA.button_alignment }} {% else %} text-left {% endif %}">
                {% cta guid="{{ CTA.hubspot_cta }}" %}
              </div>
              {% endif %}

              {% endif %}
            </div>
            {% endfor %}
          </div>
          {% endif %}

          {# End Button and Cta Option #}

           </div>
      </div>
          {# End Custum Width Option #}



    </div>
  </div>

</div>

    {% require_css %}
    <style>
     {% scope_css %}
      /****  Button Style  *****/
      {% for item in module.content_group.cta_group %}
            {% set CTA = item %}
      {% if CTA.override_button_style %}

      .baseModuleStyle .basebutton-{{ loop.index }} a{
        background:{{ CTA.button_style_group.btn_bg_color.css}};
        color:{{ CTA.button_style_group.btn_text_color.css }};
        border-color:{{ CTA.button_style_group.btn_border_color.css }};
      }

      .baseModuleStyle .basebutton-{{ loop.index }} a:hover {
        background-color:{{ CTA.button_style_group.btn_bg_color_hover.css}};
        color:{{ CTA.button_style_group.btn_text_color_hover.css }};
        border-color : {{ CTA.button_style_group.btn_border_color_hover.css }};
      }

      {% endif %}
      {% endfor %}
      /****  End Button Style  ****/
     {% end_scope_css %}
    </style>
    
   
    <style>

{#       {% scope_css %} #}
        
      {# Desktop Styling #}
      .{{name}}.baseModuleStyle{
        position:relative;
        
        {{ module.style.spacing.desktop_spacing.css }}
       
        {% if module.style.background_property.background_choice == 'bgImage'  %}
         background-image:url('{{ module.style.background_property.background_image.src|escape_url }}');  background-position: center center;  background-repeat: no-repeat; background-size : cover;
        {% elif module.style.background_property.background_choice == 'bgColor'  %}
        background-color:rgba({{ module.style.background_property.background_color.color|convert_rgb }},{{ module.style.background_property.background_color.opacity }}%);
        {% elif module.style.background_property.background_choice == 'gredient'  %}
        background:{{ module.style.background_property.background_gredient.css }};
        {% endif %}
        border-radius:20px; margin-left:20px; margin-right:30px;
      } 
      /****  Overlay Start  *****/
      {% if module.style.background_property.background_choice == 'bgImage'  %}
      .{{name}} .baseModuleOverlay{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color:rgba({{ module.style.background_property.overlay_color.color|convert_rgb }},{{ module.style.background_property.overlay_color.opacity }}%); }
      {% endif %}
      /****  Overlay Start  *****/
      .{{name}} .baseModuleParent{position:relative; z-index:5}



      {# End Desktop Styling #}

      {# Tablet Styling #}
      @media(max-width:1300px){
        .{{name}}.baseModuleStyle{
           {{  module.style.spacing.tab_spacing.css }}
        } 
      }
      {# End Tablet Styling #}
      {# Mobile Styling #}
      @media(max-width:767px){
        .{{name}}.baseModuleStyle{
          {{ module.style.spacing.mobile_spacing.css  }}
           margin-left:10px; margin-right:10px;
        } 
      }
      
{#       {% end_scope_css %} #}
    </style>
  {% end_require_css %}
